
p {
  margin: 0;
}

.container {
  margin: auto;
  max-width: 60%;
  padding: 10px;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
}

.main-content {
  height: 600px;
  padding: 50px;
  // コンテンツ内画像
  &-background img {
    z-index: -1;
    opacity: 0.55;
    max-width: 100%;
    height: auto;
  }

  &-background {
    position: relative;
    width: 100%;
    height: auto;
    padding: 64px 0;
    &__item {
      position: absolute;
    }
  }

  &-item {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    &-eyecatch {
      width: 50%;
      min-width: 360px;
    }
    &-description {
      margin: 0;
      text-align: center;
      &__text {
        padding: 100px 10px;
        border: solid 1px #000;
        border-radius: 15%;
        background-color: #fff
      }
    }
  }
}

.display {
  &-type-one {
    width: 60%;
    transform: rotate(-10deg);
  }
  &-type-two {
    right: 0;
    width: 75%;
    transform: rotate(-20deg);
  }
  &-type-three {
    top: 300px;
    width: 55%;
    transform: rotate(30deg);
  }
  &-type-four {
    width: 80%;
    transform: rotate(15deg);
  }
  &-type-five {
    top: 150px;
    right: 0;
    width: 60%;
    transform: rotate(-20deg);
  }
}